<%- include('header') -%>

    <%
      videos.categories.forEach((x)=> {
    %>
            <section class="cards">
              <h2 class="cards__title"><%=x.title%></h2>
              <div class="cards__container">
           <% x.videos.forEach((vid)=>{
                let video = videos.videos[vid-1]    
            %>
              <a href="/<%=video.id%>" class="card__link">
                <div class="card__image">
                  <img class="card__img " src="<%=video.poster%>" alt="<%=video.description%>"/>
                  <span class="card__duration"><%=convertDuration(video.duration)%></span>
                </div>
                <div class="card__text">
                  <h3 class="card__videoTitle"><%=video.title%></h3>
                  <span class="card__created"><%=convertCreated(video.created)%></span>
                  </div>
                </a>
        
      <%  }) %>
              </div>
        </div>
      </section>
      <hr class="card__divider" />
    <%})%>
    
    


<%- include('footer') -%>