<%- include('header') -%>

  <div class= "video">
        <p class="video__title"><%=video.title%></p>
        <video class="video__video" src= "<%=video.video%>" controls>
        </video>
        <p class="video__description"><%=video.description%></p>
        <a class="back" href="/">Til baka</a>
    </div> 


  <%- include('footer') -%>